@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --fonte-titulo: 'Lato', sans-serif;
    --background-hover-color: rgba(211, 211, 211, 0.550);
}


/* ######### Formatações globais ############ */

* {
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2em;
    text-align: center;
    font-family: var(--fonte-titulo);
}

div#container {
    overflow-x: auto;
    position: relative;
    height: 635px;
    width: 1200px;
    margin: auto;
    margin-bottom: 0px;
}

body {
    font-family: var(--fonte-titulo);
}

p {
    width: 50px;
}

td:hover {
    border: 1px solid rgba(0, 0, 0, 0.500);
}


/* ############# CSS Tabela cabeçalho #############*/

table#tabela-cabecalho{
    border-collapse: collapse;
    height: 130px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -291.1px 0 0 -350px;
}

table#tabela-cabecalho td{
    width: 115px;
    border-radius: 5px 5px 0px 0px;
}

table#tabela-cabecalho td.dados-do-elemento{
    border: white;
    background-color: #96CD30;
    font-size: 1.3em;
}

table#tabela-cabecalho td.dados-do-elemento:hover{
    font-size: 1.6em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.231);
}

table#tabela-cabecalho td.dados-do-elemento:hover + td.nomes-dados-do-elemento{
    font-size: 1.6em;
    text-shadow: 2px 2px 2.2px rgba(0, 0, 0, 0.139);
    color: black;
}

table#tabela-cabecalho td.nomes-dados-do-elemento{
    border: white;
    padding-left: 100px;
    text-align: left;
    width: 245px;
    color: white;
}   

table#tabela-cabecalho td.nome{
    border-radius: 0px;
}

table#tabela-cabecalho td.numero{
    padding-left: 20px;
    text-align: left;
    border-radius: 0px 0px 5px 5px;
}


/* ############# CSS Tabela Principal ############# */

table {
    border-spacing: 3px;
}

table#tabela-principal {
    margin: auto;
}

th {
    font-size: 0.8em;
    font-family: var(--fonte-titulo);
    vertical-align: bottom;
    padding-bottom: 5px;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.231);
    padding: 3px;
    border-radius: 2px;
    font-size: 0.8em;
    text-align: center;
}

.espaco-numero {
    font-size: 0.7em;
    font-weight: bolder;
    text-align: left;
    padding-bottom: 30px;
    border: none;
}

.sigla-elemento{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.nome-elemento {
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 0.7em;
}

.numero-atomico {
    text-align: left;
    padding-left: 2px;
    font-size: 0.9em;
    font-weight: bold;
}

/* ####### Cores das células ####### */

.laranja {
    background-color: #F1B200;
}
.laranja:hover {
    /* background-color: rgba(211, 211, 211, 0.650); */
    background-color: var(--background-hover-color);
    transition: 0.3s;
}

.amarelo {
    background-color: #EADA00;
}
.amarelo:hover {
    background-color: var(--background-hover-color);
    transition: 0.3s;
}

.rosa {
    background-color: #EB8E8E;
}
.rosa:hover {
    background-color: var(--background-hover-color);
    transition: 0.3s;
}

.azul-claro2 {
    background-color: #91BDCB;
}
.azul-claro2:hover {
    background-color: var(--background-hover-color);
    transition: 0.3s;
}

.azul {
    background-color: #5AC3E8;
}
.azul:hover {
    background-color: var(--background-hover-color);
    transition: 0.3s;
}

.azul-escuro {
    background-color: #2793E0;
}
.azul-escuro:hover {
    background-color: var(--background-hover-color);
    transition: 0.3s;
}

.verde-claro {
    background-color: #96CD30;
}
.verde-claro:hover {
    background-color: var(--background-hover-color);
    transition: 0.3s;
}

.verde-azulado {
    background-color: #44A69C;
}
.verde-azulado:hover {
    background-color: var(--background-hover-color);
    transition: 0.3s;
}

.branco {
    background-color: white
}


/* ############# CSS Tabela Secundária ############# */

table#tabela-secundaria {
    margin-top: 20px;
    margin-bottom: 40px;
    margin: auto;
}

td.linha-branca {
    background-color: white; 
    border: white; 
    height: 12px;
}

td.elementos-brancos {
    background-color: white; 
    border: white;
}

.azul-claro {
    background-color: #7bdee5;
}
.azul-claro:hover {
    background-color: var(--background-hover-color);
    transition: 0.3s;
}

.lilas {
    background-color: #D49BCD;
}
.lilas:hover {
    background-color: var(--background-hover-color);
    transition: 0.3s;
}


/* ############# CSS Tabela do Rodapé ############# */

table#tabela-rodape {
    margin: auto;
    margin-top: 13px;
    margin-bottom: 70px;
    min-height: 10px;
}

table#tabela-rodape td {
    border: white;
    min-width: 15px;
}

td.grupo {
    text-align: left;
    padding-right: 100px;
}

/*### Cores primeira linha ###*/

td.nao-metais {
    background-color: #A1D344;
}

td.semimetais {
    background-color: #4DB6AC;
}

td.outros-metais {
    background-color: #A2C7D3;
}

td.lantanideos {
    background-color: #90E3E9;
}

td.metais-alcalinos {
    background-color: #F1B200;
}

/*### Cores segunda linha ###*/

td.metais-de-transicao {
    background-color: #EB8E8E;
}

td.gases-nobres {
    background-color: #3D9EE3;
}

td.alcalino-terrosos {
    background-color: #EADA00;
}

td.halogenios {
    background-color: #70CBEB;
}

td.actinidios {
    background-color: #DCADD6;
}


/* ############# CSS do footer ############# */
footer {
    background-color: #70CBEB;
}

footer > p {
    font-family: var(--fonte-titulo);
    font-size: 14px;
    width: 300px;
    padding-bottom: 10px; 
    float: right;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    font-weight: bold;
    text-decoration: underline;
}